@charset "utf-8";
/* CSS Document */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.scroll-bar{
	width: 500px;
	height: 300px;
	margin: 10px auto;
	padding-right: 12px;
	overflow: hidden;
	position: relative;
}
